<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include("./_bootstrap.ejs") %> 
    <title>Role Manager</title>
</head>
<body>
    <%-include("./_navbar.ejs") %> 
    <div class="container">
        <h1>User Management Dashboard : Requests</h1>
        <h3>Logged in as : <span class="text-success"><%=user.email%></span></h3>
        <% if(adminList.includes(user.email)){ %>
            <%-include("./_requestList.ejs", {users : requests}) %> 
        <% }else{ %>
            <form action="./submitrequest" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input placeholder="<%=user.email%>" value="<%=user.email%>" required type="text" name="email" id="email" class="form-control" >
            
                    <!-- <label for="role">Role :</label>
                    <input placeholder="user" required type="text" name="role" id="role" class="form-control"> -->
                    
                    <br>
                    <label for="role">Role : </label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input checked class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="user">
                        <label class="form-check-label" for="inlineRadio1">user</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="admin">
                        <label class="form-check-label" for="inlineRadio2">admin</label>
                    </div>

                </div>
                <br>
                <a href="./" class="btn btn-danger">Discard</a>
                <button type="submit" class="btn btn-primary">Save Request</button>
            </form>
        <% } %> 
    </div>
</body>
</html>